body {
  overflow-x: hidden;
}
h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}
h1, h2 {
  line-height: 1.5;
}

img {
  display: block;
  object-fit: coever;
}
.nav-link {
  &:hover{
    border-bottom: 2px map-get($theme-colors, 'success') solid;
  }
  &.active {
    color: #636057;
    font-weight: bold;
    border-bottom: 2px map-get($theme-colors, 'primary') solid;
  }
}
.custom {
  &__btn {
    &-primary--hover:hover{
      color:white;
      border:1px map-get($theme-colors, 'success') solid;
      background-color: map-get($theme-colors, 'success');
    }
    &-secondary--hover:hover{
      color: map-get($theme-colors, 'secondary');
      border: 1px map-get($theme-colors, 'primary') solid;
      background-color: map-get($theme-colors, 'primary');
      .fas {
        color: map-get($theme-colors, 'success');
      }
    }
  }
  &__sponsor{
    font-family: 'Baloo Tamma 2', cursive;
  }
  &__aside {
    z-index: 9;
    @include media-breakpoint-up(lg){
      position: sticky;
      overflow-y: scroll;
      top: calc(66px + 3rem);
      height: calc(75vh);
    }
  }
  &__card {
    border-radius: 8px;
    overflow: hidden;
  }
  &__tooltip {
    // https://www.webdesignerdepot.com/2012/11/how-to-create-a-simple-css3-tooltip/
    &:hover {
      cursor: default;
      position: relative;
      &::after {
        position: absolute;
        content: attr(tooltip);
        background: rgba(0,0,0,.5);
        border-radius: 5px;
        width: 60px;
        bottom: 33px;
        color: map-get($theme-colors, 'primary');
        font-size: 12px;
        left: 20%;
        padding: 3px;
        z-index: 98;
      }
      &:hover::before{
        position: absolute;
        content: "";
        border: solid;
        border-color: rgba(0,0,0,.5) transparent;
        border-width: 6px 6px 0 6px;
        bottom: 27px;
        left: 40%;
        z-index: 99;
      }
    }
  }
  &--shaow {
    transition: 0.3s;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  }
  &--index {
    z-index:999;
  }
}